<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>228933065115-qn7kl9qarek5lp134i5fjrpnudfd1qe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228933065115-qn7kl9qarek5lp134i5fjrpnudfd1qe1</string>
	<key>API_KEY</key>
	<string>AIzaSyBjk-NqTVUAMMzcoN3ZeBBEwJRkucRbqq0</string>
	<key>GCM_SENDER_ID</key>
	<string>228933065115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prefaceroapp.co.com.prefacero.prefaceroApp</string>
	<key>PROJECT_ID</key>
	<string>static-concept-227918</string>
	<key>STORAGE_BUCKET</key>
	<string>static-concept-227918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228933065115:ios:ecc4df3d9a8fc22a</string>
	<key>DATABASE_URL</key>
	<string>https://static-concept-227918.firebaseio.com</string>
</dict>
</plist>